# macOS
.DS_Store

# Xcode build artifacts and user data
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Code coverage
*.xccovreport
*.xccovarchive
*.gcno
*.profdata

# Temporary files
*.log
*.tmp
*.swp
